{% set current_route = app.request.attributes.get( '_route' ) %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{{ 'page.title'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}" ></script>
</head>
<body>
<div class="header-container">
    <div class="header">
        <img class="logo" src="{{ asset('images/tiqr_logo.png') }}" alt="Tiqr"/>
        <ul class="links">
            <li class="push-right">
                {#<img src="{{ asset('images/surfconext-logo.png') }}" alt="SURFconext"/>#}
                <ul class="language-selector">
                    {% for lang in ['en', 'nl_NL'] %}
                        <li {{ app.request.getLocale() == lang ? 'class="active"' :'' }}>
                            <a href="{{ path('local', {lang: lang}) }}">{{ lang|trans }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="page-container">
    {% block body_container %}
        <h1>{% block page_heading %}{% endblock %}</h1>
        <div class="card">
            {% if current_route == 'sp_demo' %}
                <div class='alert'>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <pre style="display: inline">{{ 'page.route.description.sp_demo'|trans }}</pre>
                </div>
            {% endif %}

            {% block body %}{% endblock %}
        </div>
    {% endblock %}
</div>
<div class="footer">
    <div class="footer-inner">
        <span><a href="https://wiki.surfnet.nl/display/conextsupport/Terms+of+Service+%28NL%29"
                 target="_blank">{{ 'page.footer.terms'|trans }}</a></span>
        <span><a href="mailto:help@surfconext.nl"
                 target="_blank">help@surfconext.nl</a></span></div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
