{% set current_route = app.request.attributes.get( '_route' ) %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ 'page.title'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script src="{{ asset('jquery-1.11.3.min.js') }}"></script>
</head>
<body>

<div class="container">

    <div class="content">
        <div class="page-header container-fluid">
            <img class="pull-right logo" src="{{ asset('images/header-logo.png') }}" alt="logo"/>
            <h1>{% block header_title %}{{ 'login.title'|trans }}{% endblock %}</h1>
        </div>
    </div>
    <div class="main-content">
        {# stepup-gssp-bundle and stepup-tiqr use 'body' #}
        {% block body %}{% endblock %}

        {# stepup-bundle 'content', don't bother, just define them both #}
        {% block content %}{% endblock %}
    </div>

    <hr>

    {% block footer %}
    <footer>
        <div class="container-fluid">
            <div class="pull-left">
                <a href="{{ path('app_cancel') }}">{{ 'cancel'|trans }}</a>
            </div>
            <div class="pull-right">
                <a href="{{ global_view_parameters.supportUrl }}" target="_blank">Help</a>
            </div>
        </div>
    </footer>
    {% endblock %}

    {% block javascripts %}{% endblock %}
</div>
</body>
</html>
