{% set current_route = app.request.attributes.get( '_route' ) %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ 'page.title'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
</head>
<body>

<div class="container">

    <div class="content">
        <div class="page-header container-fluid">
            <img class="pull-right logo" src="{{ asset('images/header-logo.png') }}" alt="OpenConext Stepup"/>
            <h1>{% block header_title %}{% endblock %}</h1>
        </div>
    </div>
    <div class="main-content">
        {% block body %}{% endblock %}
    </div>
    <hr/>
    <footer>
        <div class="container-fluid">
            <div class="pull-left">
                <a href="{{ path('app_cancel') }}">{{ 'cancel'|trans }}</a>
            </div>
            <div class="pull-right">
                {% for lang in ['en', 'nl_NL'] %}
                    <a href="{{ path('local', {lang: lang}) }}" class="{% if loop.last %}footer-lang-border{% endif %}">{{ lang|trans }}</a>
                {% endfor %}
            </div>
        </div>
    </footer>
    {% block javascripts %}{% endblock %}
</body>
</html>
