{% set current_route = app.request.attributes.get( '_route' ) %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{{ 'page.title'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
</head>
<body>

<div class="container">

    <div class="content">
        <div class="page-header clearfix">
            <img src="/images/tiqr.png" class="pull-left" alt="tiqr" height="74">
            <img src="/images/surfnet.jpg" class="pull-right" alt="SURFnet">
        </div>

        <div class="pull-right">
            <select class="tiqr_switch_locale">
                {% for lang in ['en', 'nl_NL'] %}
                    <option value="{{ path('local', {lang: lang}) }}" {{ app.request.getLocale() == lang ? 'selected' :'' }}>{{ lang|trans }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    {% block body %}{% endblock %}

    <footer>
        <div class="row-fluid">
            <div class="span8 offset2">
                <hr>
                <ul class="nav nav-pills">
                    <li><a href="{{ path('app_cancel') }}">Cancel</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<script>
    document.querySelector('.tiqr_switch_locale').onchange = function (e) {
        window.location.href = e.target.value;
    };
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
