{% set current_route = app.request.attributes.get( '_route' ) %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>{% block title %}{{ 'site_title'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('global') }}
    {% endblock %}
</head>
<body>

<div class="container">

    <div class="content">
        <div class="page-header container-fluid">
            <img class="pull-right logo" src="{{ asset('images/header-logo.png') }}" alt="logo"/>
            <h1>{% block header_title %}{% endblock %}</h1>
        </div>
    </div>
    <div class="main-content">
        {% block body %}{% endblock %}
    </div>

    <hr>

    {% block footer %}
    <footer>
        <div class="container-fluid">
            <div class="pull-left">
                <a href="{{ path('app_cancel') }}">{{ 'cancel'|trans }}</a>
            </div>
            <div class="pull-right">
                <a href="{{ global_view_parameters.supportUrl }}" target="_blank">Help</a>
            </div>
        </div>
    </footer>
    {% endblock %}

    {% block javascripts %}{% endblock %}
</div>
</body>
</html>
