{% extends 'base.html.twig' %}

{% block title %}
    {{ 'login.title'|trans }}
{% endblock %}

{% block header_title %}
    {{ 'login.title'|trans }}
{% endblock %}

{% block body %}
    {{ 'login.qr.message' | trans }}

    {% if otpError is defined %}
        <br/>
        <div class="alert alert-warning" role="alert">

            <h4 class="alert-heading">{{ 'login.error.invalid_response' | trans }}</h4>

            {% if attemptsLeft %}
                <p>{{ attemptsLeft }} {{ 'login.error.attempts_left' | trans }}</p>
            {% endif %}

        </div>
    {% endif %}
    <br/>
    <div class="content-container qr">
        <img src="{{ url('app_identity_authentication_qr') }}">
    </div>
    <p>
        {{ 'login.qr.manual.message' | trans }} <a onClick="jQuery('#otpform').slideToggle();">{{ 'login.qr.manual.here' | trans }}</a>.
    </p>
    <div id="otpform">
        <form method="POST" class="form-inline">
            <div class="input-group">
                <input type="text" name="otp" tabindex="3"
                                                            placeholder="{{ 'login.qr.manual.otp' | trans }}"
                                                            autocomplete="off"/>
                &nbsp;
                <button type="submit" class="btn btn-primary">{{ 'login.qr.manual.button' | trans }}</button>
            </div>
        </form>
    </div>
    <script>
        jQuery('#otpform').hide();

        /**
         * Reload the page to finalize the authentication process when
         * the user is logged in.
         *
         * @param {Boolean} status
         */
        function updateStatus(status) {
            if (status === true) {
                // We can't do a 'normal' page reload because then we will re-submit the OTP code again.
                document.location.href = document.location.href + '?';
            } else {
                setTimeout(requestStatus, 1500);
            }
        }

        function requestStatus() {
            var statusUrl = "{{ path('app_identity_authentication_status') | escape('js') }}";
            jQuery.get(statusUrl, updateStatus);
        }

        requestStatus();
    </script>
{% endblock %}
