{% extends 'base.html.twig' %}

{% block title %}
    {{ 'login.title'|trans }}
{% endblock %}

{% block header_title %}
    {{ 'login.title'|trans }}
{% endblock %}

{% block body %}
    {{ 'login.qr.message' | trans }}

    <div class="spinner-container">
        <img class="img-rotate spinner" src="{{ asset('images/spinner.svg') }}">
    </div>

    {{ 'login.qr.manual.no_push_notification' | trans({ '%link_start%':'<a id="trigger-qr">', '%link_end%': '</a>' }) | raw }}

    {% if otpError is defined %}
        <br/>
        <div class="alert alert-warning" role="alert">

            <h4 class="alert-heading">{{ 'login.error.invalid_response' | trans }}</h4>

            {% if attemptsLeft %}
                <p>{{ attemptsLeft }} {{ 'login.error.attempts_left' | trans }}</p>
            {% endif %}

        </div>
    {% endif %}
    <br/>
    <div id="qr" class="content-container qr">
        <img src="{{ url('app_identity_authentication_qr') }}">

        <p>
            {{ 'login.qr.manual.message' | trans }} <a onClick="jQuery('#otpform').slideToggle();">{{ 'login.qr.manual.here' | trans }}</a>.
        </p>
    </div>

    <div id="otpform">
        <form method="POST" class="form-inline">
            <div class="input-group">
                <input type="text" name="otp" tabindex="3"
                                                            placeholder="{{ 'login.qr.manual.otp' | trans }}"
                                                            autocomplete="off"/>
                &nbsp;
                <button type="submit" class="btn btn-primary">{{ 'login.qr.manual.button' | trans }}</button>
            </div>
        </form>
    </div>
    <script>
        jQuery('#qr').hide();
        jQuery('#otpform').hide();

        jQuery('#trigger-qr').on('click', function(){
            jQuery('#qr').slideToggle();
            jQuery('#otpform').hide();
            jQuery('.spinner').slideToggle();
        });

        /**
         * Reload the page to finalize the authentication process when
         * the user is logged in.
         *
         * @param {String} status
         */
        function updateStatus(status) {
            if (status === 'pending') {
                setTimeout(requestStatus, 1500);
            } else {
                document.location.replace(document.location.href);
            }
        }

        function requestStatus() {
            var statusUrl = "{{ path('app_identity_authentication_status') | escape('js') }}";
            jQuery.get(statusUrl, updateStatus);
        }

        requestStatus();
    </script>
{% endblock %}
