{% extends 'base.html.twig' %}

{% block title %}
    {{ 'login.title'|trans }}
{% endblock %}

{% block body %}
    <h2>{{ 'login.title' | trans }}</h2>
    {{ 'login.qr.message' | trans }}
    <br/>
    <div class="content-container qr">
        <img src="{{ url('app_identity_authentication_qr') }}">
        <p>
            {{ 'login.qr.manual.message' | trans }} <a onClick="jQuery('#otpform').slideToggle();">here</a>.
        </p>
    </div>
    <div id="otpform" style="display:none">
        <form method="POST" class="form-inline">
            <div class="input-group">
                {{ 'login.qr.manual.otp' | trans }}: <input type="text" name="otp" tabindex="3"
                                                            placeholder="{{ 'login.qr.manual.otp' | trans }}"
                                                            autocomplete="off"/>
                &nbsp;
                <button type="submit" class="btn btn-primary">{{ 'login.qr.manual.button' | trans }}</button>
            </div>
        </form>
    </div>
    <script>
        function updateStatus(status) {
            if (status === true) {
                clearInterval(handle);
                document.location.reload(true);
            }
        }
        function requestStatus() {
            var statusUrl = "{{ path('app_identity_authentication_status') | escape('js') }}";
            jQuery.get(statusUrl, updateStatus);
        }
        var handle = setInterval(requestStatus, 1500);
    </script>
{% endblock %}
