{% extends 'base.html.twig' %}

{% block title %}
    {{ 'page.acs.title'|trans }}
{% endblock %}

{% block body %}
    <h2>{{ 'page.acs.sub_title'|trans }}</h2>

    <table>
        <tbody>
        <tr>
            <td>{{ 'saml.request_id'|trans }}</td>
            <td>{{ requestId }}</td>
        </tr>
        <tr>
            <td>{{ 'saml.error'|trans }}</td>
            <td>{{ error }}</td>
        </tr>
        <tr>
            <td>{{ 'saml.issuer'|trans }}</td>
            <td>{{ issuer }}</td>
        </tr>
        <tr>
            <td>{{ 'saml.status'|trans }}</td>
            <td>{% include '@Sp/default/table.html.twig' with {values: status} %}</td>
        </tr>
        <tr>
            <td>{{ 'saml.relay_state'|trans }}</td>
            <td>
                {% if relayState is empty %}
                    <i class="fa fa-ban" aria-hidden="true"></i>
                {% else %}
                    {{ relayState }}
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <h2>Error SAMLResponse</h2>
    <div class='alert'>
        <pre style="overflow-x: scroll;">{{ xml }}</pre>
    </div>

{% endblock %}
